
.vs/Unpure.xyz/FileContentIndex/60452943-aaa2-4601-a6bd-1a97e3c83c6f.vsidx
.vs/Unpure.xyz/FileContentIndex/8e651873-0c29-4aca-94b8-1385b8a85b21.vsidx
.vs/Unpure.xyz/v17/Browse.VC.db
.vs/Unpure.xyz/FileContentIndex/read.lock
.vs/Unpure.xyz/v17/Browse.VC.db-shm
.vs/Unpure.xyz/v17/Browse.VC.db-wal
.vs/Unpure.xyz/v17/Browse.VC.opendb
